<eui-section>
  <eui-container>
    <eui-grid [cols]="1" [smCols]="2" [mdCols]="3" [lgCols]="5">
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
      <eui-card>
        <eui-col>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ab expedita autem sint temporibus.</span
          >
          <eui-row>
            <eui-button bgColor="Warning">Warning</eui-button>
            <eui-button bgColor="Danger">Danger</eui-button>
          </eui-row>
        </eui-col>
      </eui-card>
    </eui-grid>
  </eui-container>
</eui-section>
