<div class="flex flex-row justify-center mx-auto w-full">
  <eui-col class="w-fit sticky top-0">
    @for (route of componentRoutes; track $index) {
    <a routerLink="{{ route.path }}" class="text-right whitespace-nowrap"
      ><span>{{ route.title }}</span></a
    >
    }
  </eui-col>
  <div
    id="child-routes"
    class="w-4/5 border-l-[1px] overflow-y-visible border-gray-500 ml-3 border-opacity-55"
  >
    <div class="pl-6">
      <router-outlet></router-outlet>
    </div>
    <div
      class="bg-primary text-white font-semibold text-center mt-5 p-3 text-xl"
    >
      <span
        >This project is still in alpha stage, do not use this in production
      </span>
    </div>
    <div class="bg-accent text-white p-3 text-center">
      <span>Please send feedback via this form.</span>
    </div>
  </div>
</div>
