<eui-section dir="Col">
  <eui-container dir="Col" smDir="Col" mdDir="Col" lgDir="Col">
    <h1 class="text-5xl font-black">Easy UI Demo</h1>
  </eui-container>
  <eui-container
    dir="Col"
    smDir="Col"
    mdDir="Row"
    lgDir="Row"
    class="my-2 gap-y-2"
  >
    <eui-section dir="Col">
      <span>Badges</span>
      <span>Info, Success, Warning, Danger</span>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="Small" bgColor="Info">Small</eui-badge>
        <eui-badge size="Small" bgColor="Success">Small</eui-badge>
        <eui-badge size="Small" bgColor="Warning">Small</eui-badge>
        <eui-badge size="Small" bgColor="Danger">Small</eui-badge>
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="Medium" bgColor="Info">Medium</eui-badge>
        <eui-badge size="Medium" bgColor="Success">Medium</eui-badge>
        <eui-badge size="Medium" bgColor="Warning">Medium</eui-badge>
        <eui-badge size="Medium" bgColor="Danger">Medium</eui-badge>
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="Large" bgColor="Info">Large</eui-badge>
        <eui-badge size="Large" bgColor="Success">Large</eui-badge>
        <eui-badge size="Large" bgColor="Warning">Large</eui-badge>
        <eui-badge size="Large" bgColor="Danger">Large</eui-badge>
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="XLarge" bgColor="Info">XLarge</eui-badge>
        <eui-badge size="XLarge" bgColor="Success">XLarge</eui-badge>
        <eui-badge size="XLarge" bgColor="Warning">XLarge</eui-badge>
        <eui-badge size="XLarge" bgColor="Danger">XLarge</eui-badge>
      </eui-container>
    </eui-section>
    <eui-section dir="Col">
      <span>Buttons</span>
      <span>Info, Success, Warning, Danger</span>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="Small" bgColor="Info">Small</eui-button>
        <eui-button size="Small" bgColor="Success">Small</eui-button>
        <eui-button size="Small" bgColor="Warning">Small</eui-button>
        <eui-button size="Small" bgColor="Danger">Small</eui-button>
      </eui-container>

      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="Medium" bgColor="Info">Medium</eui-button>
        <eui-button size="Medium" bgColor="Success">Medium</eui-button>
        <eui-button size="Medium" bgColor="Warning">Medium</eui-button>
        <eui-button size="Medium" bgColor="Danger">Medium</eui-button>
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="Large" bgColor="Info">Large</eui-button>
        <eui-button size="Large" bgColor="Success">Large</eui-button>
        <eui-button size="Large" bgColor="Warning">Large</eui-button>
        <eui-button size="Large" bgColor="Danger">Large</eui-button>
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="XLarge" bgColor="Info">XLarge</eui-button>
        <eui-button size="XLarge" bgColor="Success">XLarge</eui-button>
        <eui-button size="XLarge" bgColor="Warning">XLarge</eui-button>
        <eui-button size="XLarge" bgColor="Danger">XLarge</eui-button>
      </eui-container>
    </eui-section>
  </eui-container>
  <eui-container
    dir="Col"
    smDir="Col"
    mdDir="Col"
    lgDir="Row"
    class="my-2 gap-y-2"
  >
    <eui-section dir="Col">
      <span>Badges</span>
      <span>Primary, Secondary, Accent</span>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="Small" bgColor="Primary">Small</eui-badge>
        <eui-badge size="Small" bgColor="Secondary">Small</eui-badge>
        <eui-badge size="Small" bgColor="Accent" class="text-white"
          >Small</eui-badge
        >
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="Medium" bgColor="Primary">Medium</eui-badge>
        <eui-badge size="Medium" bgColor="Secondary">Medium</eui-badge>
        <eui-badge size="Medium" bgColor="Accent" class="text-white"
          >Medium</eui-badge
        >
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="Large" bgColor="Primary">Large</eui-badge>
        <eui-badge size="Large" bgColor="Secondary">Large</eui-badge>
        <eui-badge size="Large" bgColor="Accent" class="text-white"
          >Large</eui-badge
        >
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-badge size="XLarge" bgColor="Primary">XLarge</eui-badge>
        <eui-badge size="XLarge" bgColor="Secondary">XLarge</eui-badge>
        <eui-badge size="XLarge" bgColor="Accent" class="text-white"
          >XLarge</eui-badge
        >
      </eui-container>
    </eui-section>
    <eui-section dir="Col">
      <span>Buttons</span>
      <span>Primary, Secondary, Accent</span>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="Small" bgColor="Primary">Small</eui-button>
        <eui-button size="Small" bgColor="Secondary">Small</eui-button>
        <eui-button size="Small" bgColor="Accent" class="text-white"
          >Small</eui-button
        >
      </eui-container>

      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="Medium" bgColor="Primary">Medium</eui-button>
        <eui-button size="Medium" bgColor="Secondary">Medium</eui-button>
        <eui-button size="Medium" bgColor="Accent" class="text-white"
          >Medium</eui-button
        >
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="Large" bgColor="Primary">Large</eui-button>
        <eui-button size="Large" bgColor="Secondary">Large</eui-button>
        <eui-button size="Large" bgColor="Accent" class="text-white"
          >Large</eui-button
        >
      </eui-container>
      <eui-container dir="Row" smDir="Row" mdDir="Row" lgDir="Row">
        <eui-button size="XLarge" bgColor="Primary">XLarge</eui-button>
        <eui-button size="XLarge" bgColor="Secondary">XLarge</eui-button>
        <eui-button size="XLarge" bgColor="Accent" class="text-white"
          >XLarge</eui-button
        >
      </eui-container>
    </eui-section>
  </eui-container>
</eui-section>

<div class="bg-primary bg-secondary bg-accent"></div>
